<!DOCTYPE html>
<html>
  <head>
    <title>MyJams</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= flash.now[:notice] %>
    <%= flash.now[:alert] %>
    <p>
      <strong>Newest song:</strong> <%= session[:most_recent_song_title] %>
    </p>
    <%= yield %>

  </body>
</html>
